<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="/fragments/head :: head"></head>

<body>
<div class="splash-container">
    <div class="card ">
        <div class="card-header text-center">
            <span class="splash-description"><strong>WELCOME TO MY TICKETING APPLICATION</strong></span>
            <span class="splash-description">Please enter your user information.</span>
        </div>
        <div class="card-body">
            <form th:action="@{/welcome}">
                <div class="form-group">
                    <label for="username">Email</label>:
                    <input class="form-control" id="username" name="username" placeholder="username" type="text"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>:
                    <input class="form-control" id="password" name="password" placeholder="password" type="password"/>
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                        <input class="custom-control-input" name="remember-me" type="checkbox"><span
                            class="custom-control-label">Remember Me</span>
                    </label>
                </div>
                <input class="form-control btn btn-primary btn-lg btn-block" id="login-submit" name="login-submit"
                       type="submit" value="Log In"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>